<style>
	div#wrapper {
		width:110vw;
	}
	div#RHS {
		float: right;
		width: 70vw;
	}
	div#LHS {
		background-color: rgb(66, 217, 244);
		float: left;
		width: 25vw;
		font-family: Arial;
	}
	h1 {
		font-style: bold;
		font-family: Arial;
		text-align: center;
	}
	
	.floatClear{clear: both;}
	
	.stylised {
		font-style: italic;
		font-family: Arial;
	}
	
	#caption {
		font-style: bold;
		font-family: Arial;
		text-align: center;
	}
	
	#homeImg {
		border-radius: 8px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	
	#gallery {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
		width: 380px;
		border-radius: 10px;
	}
	
</style>