<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" >
	<title>8 Brooks Lane Rental- Home</title>
	<!--link to external CSS document-->
	<link rel="stylesheet" type="text/css" href="static/brooksLaneStyles.css">
</head>

<body>
	<!--divisions allow more control over page formatting using CSS-->
	<div id="wrapper">
		<!--The LHS div will be reused in all other pages-->
		<div id="LHS">
			<img src="static/images/house1.jpg" alt="8 Brooks Lane" height=100 width=100>
			<h1><strong>8 Brooks Lane Rental</strong></h1>
			<br/>
			<!--Navigation Menu-->
			<ul>
				<li><a href="8BrooksLaneRental-Home.html">Home</a>
				<li><a href="8BrooksLaneRental-Gallery.html">Gallery</a>
				<li><a href="8BrooksLaneRental-PointsofInterest.html">Local Points of Interest</a>
				<li><a href="8BrooksLaneRental-Rental.html">Apply for Rental</a>
				<li><a href="8BrooksLaneRental-Reviews.html">Reviews</a>
			</ul>
		</div>
		<div id="RHS">
			<h1> Step in to 8 Brooks Lane</h1>
			<img id=homeImg src="static/images/house2.jpg" alt="house" height=180 width=180>
			<h3 class=stylised>Sophisticated...</h3>
			<h3 class=stylised>Modern...</h3>
			<h3 class=stylised>Practical...</h3>
			<p>A fresh and modern spin on an antique homestead design, 8 Brooks Lane 
			is a solid choice for a client with keen taste</p>
			<ul>
				<li>4 Bedrooms - 1 Master Bedroom with Ensuite</li>
				<li>2018 Renovated, 120x120ft Kitchen</li>
				<li>70x40ft Garden with Patio</li>
				<li>Gorgeous view of the St. Albans Countryside</li>
				<li>Cost: £1600pcm</li>
				<li>Bills not included - Paid seperately</li>
			</ul>
		</div>
		<br class="floatClear">
	</div>
</body>
</html>